//Colores Tablero
$body-BackgroundColor: #282c34;
$boarRed: crimson;
$transition:  deeppink;
$boarBlue: royalblue;
$boar-BackgroundColor:gold;
$boar-BorderColor: blanchedalmond;


//Colores Boton Reset
$btnReset-BackgroundColor: #333;
$btnReset-Color:#eee;
$btnReset-BorderColor: #ffffff63;



//Pantalla de Victoria
$modal-color: rgba(0, 0, 0, 0.671);
$modal-BackdropShadowColor: blue;

//Header
$headerShadow: $boar-BorderColor;
$color-H1: $boar-BorderColor;
