@import "./variables";

.boton {
    height: 75px;
    width: 75px;
    background-color: $boar-BackgroundColor;
    border: 5px solid $boar-BorderColor;
    border-radius: 50%;
    margin: .5rem;
}
.boton-azul {
    background-color: $boarBlue;
}
.boton-rojo {
    background-color: $boarRed;
}
