@import "./animations";
@import "./variables";

.header-container{
    background-image: url(../../img/yogg-saron.jpg);
    background-position: 60% 50%;
    box-shadow: 1px 10px 20px $headerShadow;
    filter: opacity(50);
        h1{
        font-size: 4rem;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        backdrop-filter: drop-shadow(4px 4px 10px $modal-BackdropShadowColor);
        backdrop-filter: blur(1px) grayscale(80%);
        color: $color-H1;
        animation: 2s ease-out infinite tinkle;
    }
}
