@import "./animations";
@import "./variables";

.texto-informativo{
    color: $boar-BorderColor;
    line-height: 2.5rem;
    span{
        font-family:fantasy;
        transition: 100ms;
    }
    .jugadorRojo{
        color: $boarRed;
    }
    .jugadorAzul{
        color: $boarBlue;
    }
}

@mixin text-format {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;

    background-color: $modal-color;
}

.texto-victoria{
    @include text-format;

    animation: winner .2s linear;

}

.texto-error{
    @include text-format;

    animation: error .2s linear;
}

.goUp{
    animation: goUp 1s linear;
}
