@import "./animations";
@import "./variables";

.texto-informativo{
    color: $boar-BorderColor;
    line-height: 2.5rem;
    span{
        font-family:fantasy;
        transition: 100ms;
    }
    .jugadorRojo{
        color: $boarRed;
    }
    .jugadorAzul{
        color: $boarBlue;
    }
}

.texto-victoria{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;

    background-color: $modal-color;
    animation: winner .2s linear;

}

