.texto-informativo{
    color: blanchedalmond;
    line-height: 2.5rem;
    span{
        font-family:fantasy;
        transition: 100ms;
    }
    .jugadorRojo{
        color: crimson;
    }
    .jugadorAzul{
        color: royalblue;
    }
  }
